/* Company Profile css starts */






.companyWrapperqr .headerContainer.collapsed .submenu_arrow span {



    transform: rotate(90deg);



    -webkit-transform: rotate(90deg);



    -moz-transform: rotate(90deg);



    left: 4px;



}



.companyWrapperqr .row{align-items: center;}





.companyWrapperqr .headerContainer .submenu_arrow span:last-child {



    transform: rotate(180deg);



    /* -webkit-transform: rotate(90deg); */



    -moz-transform: rotate(180deg);



    left: 4px;



}







.companyWrapperqr .accordion-item {



    border: none !important;



    background-color: unset !important;







}







.companyWrapperqr .accordion-body{padding: 0px !important;}



.companyWrapperqr .hideImage{display: none;}



.companyWrapperqr .custom-images > div {text-align: center !important;}

.companyWrapperqr .custom-images img{width: 318px !important;height: 318px !important;}







@media screen and (max-width:768px) {



    .companyWrapperqr .hideImage{display: block;text-align: center;margin: 25px;}



    .companyWrapperqr .hideImage img{margin: 0 auto;height: 220px !important;width: 220px !important;}



    .companyWrapperqr .custom-images{display: none !important;}



}







.accordionCompanyprofile .contactUsAccordionDesc {



    display: none !important;



}







.accordionCompanyprofile .is-open .contactUsAccordionDesc {



    display: block !important;



}







.accordionCompanyprofile .is-open .contactUsAccordionHeader .submenu_arrow {



    position: absolute;



    height: 15px;



    width: 25px;



    top: 50%;



    right: 15px;



    transform: translateY(-50%);



    -webkit-transform: translateY(-50%);



}







.accordionCompanyprofile .contactUsAccordionHeader .submenu_arrow {



    height: unset !important;



    width: unset !important;



    right: 50px !important;



}







.accordionCompanyprofile .contactUsAccordionHeader .submenu_arrow span {



    position: absolute;



    height: 1px;



    width: 12px;



    top: 50%;



    right: 15px;



    transform: translateY(-50%);



    -webkit-transform: translateY(-50%);



    transform: rotate(0deg);



    -moz-transform: rotate(0deg);



}







.accordionCompanyprofile .is-open .contactUsAccordionHeader .submenu_arrow span {



    transform: rotate(180deg);



    /* -webkit-transform: rotate(90deg); */



    -moz-transform: rotate(180deg);



    left: 4px;



}







/* Company Profile css ends */











.kalpataru_btn {







    margin: 0 auto;







}







.home-banner .swiper-pagination {







    position: relative;







    /* bottom: 50%;







     bottom: calc(50% + 110px );







     left: 180px;







     */







    left: 0;







    right: 0;







    bottom: 0;







}







.home-banner .home-banner-text-container {







    flex-direction: unset;







    left: 85px;







}







.creatingIconsOfConcreteImg .kalpataru_btn:hover {







    color: #fff;







}







.creatingIconsOfConcreteImg .max-550 {







    max-width: 900px;







}







.contact_main_wrapper {







    margin: 0 !important;







}







/*LIGHTBOX STYLE*/







.lightbox {







    display: none;







    position: fixed;







    z-index: 999;







    top: 0;







    left: 0;







    width: 100%;







    height: 100%;







    background: rgba(0, 0, 0, 0.5);







}







.lightbox .lightbox-video {







    width: 100%;







    padding-bottom: 56%;







}







.lightbox iframe {







    position: absolute;







    height: 100%;







    width: 100%;







    left: 0;







    right: 0;







}







.lightbox img {







    display: block;







    margin: 0 auto;







}







.lightbox .lightbox-close {







    position: absolute;







    display: block;







    top: -5%;







    right: -5%;







    /*top: 10%;







     right: 7%;







    */







    z-index: 9;







    color: #ffffff;







    font-size: 26px;







    height: 50px;







    width: 50px;







    background: rgba(255, 255, 255, 0.3);







    border: 3px solid #ffffff;







    border-radius: 50%;







    line-height: 50px;







    text-align: center;







}







.lightbox .lightbox-close:hover {







    text-decoration: none;







}







.lightbox .lightbox-container {







    position: relative;







    max-width: 1024px;







    margin: 125px auto 25px;







}







/*media quries*/







@media only screen and (max-width: 1200px) {







    .home-banner .home-banner-text-container {







        display: none !important;







    }







    .number-stats-list-container:nth-child(odd) {







        padding-right: 40px;







    }







    /* .featuredMenu li{







         width:125px !important;







    }







     */







}







@media only screen and (max-width: 1200px) and (min-width: 1030px) {







    /* .number-stats-list-container .number-stats-list-number, .number-stats-list-container span{







         font-size: 1.3em;







    }







     */







    .number-stats-list {







        display: block;







    }







    .number-stats-list-container {







        width: 100%;







    }







}







@media only screen and (min-width: 992px) {







    .lightbox .lightbox-container {







        max-width: 800px !important;







    }







}







@media only screen and (max-width: 991.5px) {







    .lightbox .lightbox-container {







        max-width: 500px;







        margin: 100px auto 25px;







    }







    .lightbox .lightbox-close {







        font-size: 20px;







        height: 30px;







        width: 30px;







        border: 2px solid #ffffff;







        line-height: 30px;







    }







}







@media only screen and (max-width: 575px) {







    .enhancingEverydaySlide img {







        height: 250px;







    }







    .lightbox .lightbox-container {







        max-width: 450px;







    }







    .lightbox .lightbox-close {







        font-size: 15px;







        height: 25px;







        width: 25px;







        line-height: 25px;







    }







}







@media only screen and (max-width: 430px) {







    .lightbox .lightbox-container {







        /*max-width: 365px;







        */







        max-width: 350px;







    }







}







@media only screen and (max-width: 375px) {







    .lightbox .lightbox-container {







        max-width: 315px;







    }







}







@media only screen and (max-width: 325px) {







    .lightbox .lightbox-container {







        max-width: 260px;







    }







    .lightbox .lightbox-close {







        top: -9%;







        right: -9%;







        font-size: 11px;







        height: 20px;







        width: 20px;







        line-height: 20px;







    }







}







.enhancingEverydayLivesWrapper .btn {







    margin: 0 auto;







    display: block;







}







.enhancingEverydayLivesWrapper .btn:hover {







    color: #fff;







}







.contactNumberWithCountryCode .bigTitleAnimationSection {







    font-family: 'History-Pro';







    font-size: 0.938em;







    color: #727171;







    cursor: pointer;







    white-space: inherit;







    overflow-x: hidden;







    padding: 0px 25px 0px 10px;







    border: 1px solid #ccc;







    border-radius: 0;







}







.intractiveCenter {







    /* padding-bottom: 3.55em;







     */







    padding-bottom: 1.88em;







}















.buildingLandmarksSlider .swiper-container-autoheight .swiper-slide {







    width: 100% !important



}







.buildingLandmarksSlider .swiper-pagination.swiper-pagination-fraction {







    margin-left: 0;







    margin-top: 10px;







}







.buildingLandmarksSlider .swiper-button-prev {







    left: calc(50% - 70px);







}







.buildingLandmarksSlider .swiper-button-next {







    right: calc(50% - 70px);







}







@media (max-width:1400px) {







    .home-banner .home-banner-text-container {







        left: 50px;







    }







    .intractiveCenter {







        padding-bottom: 3.7em;







    }







}







/*.home-banner .swiper-slide:before{







    position: unset;







}







 */







.home-featured-section:after {







    width: 0% !important;







}







.form-control {







    height: 45px;







}







.form-inline .form-control {







    border: 1px solid #ced4da;







    border-radius: 0.25rem;







}







.custom_dropdown_box .btn {







    border: 1px solid #ced4da;







    border-radius: 0.25rem 0rem 0rem 0.25rem;







}







.nriContactNo {







    border: 1px solid #ced4da !important;







    border-radius: 0rem 0.25rem 0.25rem 0rem !important;







}







/*new css add*/







.nriForm {







    position: relative;







    margin: 5em 0;







}







.banner-search-container {







    box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);







    display: none;







}







.searchFilterWrapper {







    box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);







}







.mainContainer {







    padding: 0px 70px;







    max-width: none;







}







.fetaturedSliderBox {







    transition: 0.5s all ease-in-out;







}







.fetaturedSliderBox:hover {







    transition: 0.5s all ease-in-out;







    box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);







}







.fetaturedSliderBox:hover .fetaturedSliderDesc {







    border: 1px solid transparent;







    border-top: none;







    transition: 0.5s all ease-in-out;







}







.fetaturedSliderDesc {







    padding: 10px 15px 0px;







    border: 1px solid #727171;







    border-top: none;







    transition: 0.5s all ease-in-out;







}







.fetaturedSliderDesc .home-featured-list-project-description {







    display: none;







}







.fetaturedSliderDesc h1 {







    font-size: 16px;







}







.fetaturedSliderDesc .project-inner-description {







    font-size: 0.843em;







    padding-top: 10px;







    padding-bottom: 0px !important;







    line-height: inherit;







    margin-bottom: 10px;







}







.testimonialsBox {







    position: relative;







}







.testimonialsIcon {







    position: absolute;







    top: 0px;







    left: 0;







    right: 0;







    margin: 0 auto;







    width: 100px;







}







.whoWeAre {







    margin-left: 0px !important;







    height: 100%;







    width: 65%;







    color: #ffffff;







    padding: 70px;







}







.whoWeAre h1 {







    font-size: 24px;







    line-height: 35px;







    color: #C5A151;







}







.whoWeAre ul {







    line-height: 22px;







}







.legancyCounterSlider .swiper-navigation-container {







    display: none;







}







.legancyCounterSlider .swiper-slide {







    width: 100% !important;







}







.legancyCounterSlider .swiper-button-next {







    right: calc(90% - 87%);







    bottom: 10px;







}







.legancyCounterSlider .swiper-button-prev {







    /* left: 74%;







     */







    left: 82%;







    bottom: 10px;







}







.home-banner .home-banner-text .home-banner-project-description {







    margin-bottom: 0px;







}







.enhancingEverydayInner .swiper-container-android .swiper-slide,



.swiper-wrapper {







    height: 100% !important;







}







.investmentBgImg {







    background-repeat: no-repeat;







    height: 100%;







    background-size: cover;







    background-image: url(https://dev.kalpataru.com/assets_web/images/nri/KL-NRI-Page_1780-x-613Desktop-best-investment.jpg);







}







.intractiveCenterEmails {







    padding: 10px 0;







}







#book_gettouch .form-control {

1px solid #ced4da


}







#book_gettouch .form-control:focus {







    border: 1px solid black;



}







/*new css end*/







.buildingLandmarksSlider .swiper-slide:nth-child(odd) {







    margin-top: 0px;







}







.buildingLandmarksSlider {







    margin-top: 50px;







}







.buildingLandmarksSlider .swiper-pagination.swiper-pagination-fraction {







    display: none;







}







.buildingLandmarksSlider .swiper-navigation-container {







    display: none;







}







.number-stats-list-text {







    font-size: 14px;







    margin-right: -22px;







    margin-left: -10px;







}







.filterApplyButton {







    margin-top: 12px !important;







}







/* No greater than 900px, no less than 400px */







@media (max-width:768px) {







    .enhancingEverydayTitle h2 {







        font-size: 0.9em;







    }







    .contactUsAccordionHeader h2 {







        text-align: left;







        font-size: 1em;







    }







    .nriForm {







        margin: 2.5em 0;







    }







    .home-banner .swiper-slide .home-banner-img-bg {







        /* max-height: 550px;







         */







        max-height: 700px;







    }







    .whoWeAre {







        width: 100%;







        padding: 70px 25px;







    }







    .investmentBgImg {







        background-size: 100% 100%;







    }







    #book_gettouch {







        margin-top: 30px;







    }







    .mainContainer {







        padding: 0px 10px !important;







    }







    .fetaturedSliderDesc h1 {







        font-size: 14px;







    }







}







@media (max-width:430px) {







    .first-txt {







        top: 25px !important;







        left: 15px !important;







    }







    .first-txt h3 {







        font-size: 18px !important;







    }







    .first-txt p {







        font-size: 14px !important;







    }







    .map_image_wrap img {







        height: 250px !important;







    }







    .whoWeAre h1 {







        font-size: 18px;







    }







}







@media screen and (min-width: 768px) and (max-width: 1024px) {







    #search_full_width:focus,



    input.search-text {







        width: 530px !important;







    }







}







@media (max-width:575px) {







    #search_full_width:focus,



    input.search-text {







        width: 410px !important;







    }







}







@media (max-width:480px) {







    #search_full_width:focus,



    input.search-text {







        width: 300px !important;







    }







}







@media (max-width:350px) {







    #search_full_width:focus,



    input.search-text {







        width: 260px !important;







    }







}







.legancyCounterSlider .swiper-pagination.swiper-pagination-fraction {







    position: absolute;







    /* background: #fff;







     */







    left: auto;







    bottom: -1px;







    right: 0;







    padding: 10px 0px;







}















.legancyCounterSlider:after {







    content: '';







    background-color: #fff !important;







}







/*new css media*/







@media (max-width:1600px) {







    .testimonialsIcon {







        top: 0px;







    }







}







@media (max-width:1400px) {







    .mainContainer {







        padding: 0px 35px;







    }







}







@media (max-width:1024px) {







    .home-page .navbar-toggler .bar,



    .home-page.page-scrolled .navbar-toggler .bar {







        background: #c09841;







    }







    .phoneNavLink {







        right: 85px;







    }







    .navbar-toggler {







        width: 40px;







        height: 30px;







        position: relative;







        top: 2px;







        background-color: #fff;







        padding: 0;







        outline: 0 !important;







        /* padding: 0;







         */







        border: none;







        -webkit-transition: all .5s ease;







        -moz-transition: all .3s ease;







        -ms-transition: all .3s ease;







        -o-transition: all .3s ease;







        transition: all .3s ease;







    }







    .testimonialsIcon {







        top: 0px;







        width: 80px;







    }







    .enhancingEverydayLivesWrapper {







        margin-top: 20px;







    }



}







@media (max-width:768px) {







    .phoneNavLink {







        right: 70px;







    }







    .testimonialsIcon {







        top: 0px;







        width: 60px;







    }







}







@media (max-width:575px) {







    .legancyCounterSlider .swiper-pagination .fraction-divider:before {







        width: 25px;







    }







    .legancyCounterSlider .swiper-button-prev {







        left: 70%;







        /* left: 75%;







         */







    }







    .legancyCounterSlider .swiper-button-next {







        /* right: calc(90% - 90%);







         */







        right: calc(90% - 88%);







    }







    .testimonialsIcon {







        top: -10px;







        width: 40px;







    }







    /*.book_gettouch .form_element input{







        height: 35px;







        line-height: 35px;







        font-size: 14px;







    }







    */







}







.first-txt {







    position: absolute;







    top: 75px;







    left: 50px;







}







.first-txt h3 {







    font-family: 'History Pro';







    font-style: normal;







    font-weight: 400;







    font-size: 24px;







    line-height: 35px;







    letter-spacing: 0.05em;







    text-transform: uppercase;







    color: #C5A151;







}







.first-txt p {







    font-family: 'Roboto';







    font-style: normal;







    font-weight: 500;







    font-size: 16px;







    line-height: 22px;







    /* or 138% */







    letter-spacing: 0.05em;







    text-transform: capitalize;







    /* Primary white */







    color: #FFFFFF;







}







/*bootstrap css*/







@media (min-width:1200px) {







    .col-xl-3,



    .col-lg-3 {







        -ms-flex: 0 0 33.33%;







        flex: 0 0 33.33%;







        max-width: 33.33%;







    }







}







@media (min-width:920px) {







    .col-xl-3,



    .col-lg-3 {







        -ms-flex: 0 0 33.33%;







        flex: 0 0 33.33%;







        max-width: 33.33%;







    }







}







/*@media (min-width:576px) {







     .col-sm-12, .col-xs-12{







         -ms-flex: 0 0 100%;







         flex: 0 0 100%;







         max-width: 100%;







    }







}







*/







.clickToGoMap {







    display: none;







}







.featuredMenu {







    display: flex;







    justify-content: center;







    margin-left: -40px;







    width: auto;







    margin-bottom: 10px;







    flex-wrap: wrap;







    align-items: center;







}







.featuredMenu li {







    width: 160px;







    margin-right: 15px;







    text-align: center;







    cursor: pointer;







    background-color: transparent;







    padding: 16px 20px;







    color: #C09B4D;







    letter-spacing: 2px;







    text-transform: uppercase;







    border: 1px solid #C09B4D;







    font-size: 0.843em;







    list-style: none;







    line-height: 1.5;







    border-radius: 0.25rem;







    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;







    margin-bottom: 10px;







}







.featuredMenu li.active {







    background: #C09B4D;







    border: 1px solid transparent;







    color: #ffffff;







}







.featuredSliderOverlay {







    position: relative;







}







.featuredSlider .swiper-navigation-container {







    display: none;







}







.featuredSliderOverlay img {







    height: 450px;







    position: relative;







}







.featuredSliderOverlay .imgBg {







    height: 100%;







    width: 100%;







    position: absolute;







    top: 0;







    left: 0;







    right: 0;







    background: rgba(12, 12, 12, 0.5);







}







.overlay {







    position: absolute;







    bottom: 0;







    left: 0;







    right: 0;







    /* background-color: #fff;







     */







    overflow: hidden;







    width: 100%;







    height: 0;







    transition: .5s ease;







}







.featuredSliderOverlay:hover .overlay {







    /* height: 76%;







     */







    height: 50%;







}







.featuredSliderOverlay:hover .fetaturedSliderTitle {







    display: none;







}







.fetaturedSliderTitle h1 {







    opacity: 1 !important;







}







.fetaturedSliderDesc {







    position: absolute;







    bottom: 0;







    width: 100%;







    color: #fff;







}







.fetaturedSliderDesc .icon-button,



.fetaturedSliderDesc .round-button {







    color: #fff;







}







@media (max-width:1600px) {







    .featuredMenu li {







        padding: 12px 15px;







        width: 125px;







        /* width:145px;







         */







    }







}







@media (max-width:1400px) {







    .featuredMenu li {







        padding: 12px 15px;







        width: 125px;







        /* width:145px;







         */







    }







}







@media (max-width:1024px) {







    .featuredSliderOverlay img {







        height: 350px;







    }







    .home-banner {







        margin-top: 55px;







    }







}







@media (max-width:575px) {







    .featuredMenu {







        margin-bottom: 0px;







        justify-content: space-between;







    }







    .featuredMenu li {







        width: 48%;







        text-align: center;







        margin-bottom: 15px;







        padding: 0.75em 2em;







        margin-right: 0px;







    }







    .featuredMenu .swiper-notification {







        display: none;







    }







}







.home-banner .swiper-pagination-clickable .swiper-pagination-bullet {







    margin: 0px 4px;







}







.bannerSubcontent {







    font-size: 1.4em !important;







}















/* news css date - 28/07/23 */







/* legacy section css */



.featuredProjecsecmain {



    padding-bottom: 0em !important;



}







.legacySectionmain {



    padding-top: 1em !important;



}







.legacySectionmain .number-stats-list {



    display: block !important;



    padding-right: 15px !important;



}







.legacySectionmain .number-stats-list .number-stats-list-container {



    width: 100% !important;



}







.legacySectionmain .number-stats-list-text {



    margin-left: 0px !important;



}







@media (max-width:1365px) {



    .legacySectionmain .double-bg-header {



        padding: 0px 15px !important;



    }



}







@media (max-width:1000px) {



    .legacySectionmain {



        padding-top: 0px !important;



    }







    .legacySectionmain .double-bg-header .double-main-heading {



        margin-top: 0px !important;



    }



}







@media (max-width:1024px) {



    .legacySectionmain .number-stats-list {



        display: flex !important;



        justify-content: space-between !important;



    }







    .legacySectionmain .number-stats-list .number-stats-list-container {



        width: 44% !important;



        padding-top: 1em !important;



    }







    .legacySectionmain .row {



        width: 100% !important;



        margin-left: 0px !important;



        margin-right: 0px !important;



    }



}







@media (max-width:768px) {



    .legacySectionmain .foot {



        padding-top: 1em !important;



        padding-bottom: 1em !important;



    }



}











/* banner section css */



.homeBannersection .swiper-slide .home-banner-img-bg {



    height: unset !important;



    max-height: unset !important;



}







.homeBannersection .home-banner-text-container {



    width: 100% !important;



    left: 60px !important;



    flex-direction: unset !important;



}







@media (max-width:1450px) {



    .homeBannersection .home-banner-text-container {



        left: 50px !important;



        top: 50px;



    }



}







@media (max-width:1200px) {



    .homeBannersection .home-banner-text-container {



        position: absolute !important;



        display: flex !important;



        left: 20px !important;



        text-align: left !important;



        background-color: unset !important;



    }







    .homeBannersection .home-banner-text-container .home-banner-project-name {



        color: #fff !important;



    }







    .homeBannersection .home-banner-text-container .home-banner-project-description {



        display: block !important;



        color: #fff !important;



    }



}







@media (max-width:992px) {



    .homeBannersection .home-banner-text-container {



        display: none !important;



    }



}